[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tiktoken = "*"
virtualenv = "*"
absl-py = "*"
accelerate = "*"
aiofiles = "*"
aiohttp = "*"
aiohttp-proxy = "*"
aiosignal = "*"
aniso8601 = "*"
annotated-types = "*"
asgiref = "*"
asttokens = "*"
attrs = "*"
backoff = "*"
bcrypt = "*"
beautifulsoup4 = "*"
blinker = "*"
blobfile = "*"
bs4 = "*"
certifi = "*"
cffi = "*"
charset-normalizer = "*"
chroma-hnswlib = "*"
chromadb = "*"
click = "*"
colorama = "*"
coloredlogs = "*"
comm = "*"
comtypes = "*"
contourpy = "*"
cssselect = "*"
cycler = "*"
dataclasses-json = "*"
dateparser = "*"
debugpy = "*"
decorator = "*"
deepdiff = "*"
dirtyjson = "*"
distlib = "*"
distro = "*"
dnspython = "*"
docopt = "*"
docutils = "*"
duckduckgo-search = "*"
email-validator = "*"
executing = "*"
fake-useragent = "*"
fastapi = "*"
fastapi-cli = "*"
fastjsonschema = "*"
feedfinder2 = "*"
feedparser = "*"
ffmpy = "*"
filelock = "*"
fire = "*"
flatbuffers = "*"
fonttools = "*"
fsspec = "*"
ftfy = "*"
google-ai-generativelanguage = "*"
google-api-core = "*"
google-api-python-client = "*"
google-auth = "*"
google-auth-httplib2 = "*"
google-generativeai = "*"
googleapis-common-protos = "*"
greenlet = "*"
grpcio = "*"
grpcio-status = "*"
h11 = "*"
html2image = "*"
html2text = "*"
html5lib = "*"
httpcore = "*"
httptools = "*"
httpx = "*"
huggingface-hub = "*"
humanfriendly = "*"
ijson = "*"
importlib-metadata = "*"
importlib-resources = "*"
iniconfig = "*"
ipykernel = "*"
ipython = "*"
itsdangerous = "*"
"jaraco.classes" = "*"
jedi = "*"
jieba3k = "*"
jinja2 = "*"
jiter = "*"
joblib = "*"
jupyter-client = "*"
jupyter-core = "*"
keyboard = "*"
keyring = "*"
kiwisolver = "*"
kubernetes = "*"
langchain = "*"
langchain-community = "*"
langchain-core = "*"
langchain-ollama = "*"
langchain-text-splitters = "*"
langsmith = "*"
litellm = "*"
llama-models = "*"
lxml = "*"
lxml-html-clean = "*"
markdown-it-py = "*"
markupsafe = "*"
marshmallow = "*"
matplotlib = "*"
matplotlib-inline = "*"
mdurl = "*"
mesop = "*"
mmh3 = "*"
more-itertools = "*"
mpmath = "*"
msgpack = "*"
multidict = "*"
multitasking = "*"
nbformat = "*"
networkx = "*"
newspaper4k = "*"
nh3 = "*"
nltk = "*"
ollama = "*"
onnxruntime = "*"
opentelemetry-api = "*"
opentelemetry-exporter-otlp-proto-common = "*"
opentelemetry-exporter-otlp-proto-grpc = "*"
opentelemetry-instrumentation = "*"
opentelemetry-instrumentation-asgi = "*"
opentelemetry-instrumentation-fastapi = "*"
opentelemetry-proto = "*"
opentelemetry-sdk = "*"
opentelemetry-semantic-conventions = "*"
opentelemetry-util-http = "*"
ordered-set = "*"
orjson = "*"
outcome = "*"
overrides = "*"
packaging = "*"
pandas = "*"
parso = "*"
pillow = "*"
pipenv = "*"
pkginfo = "*"
platformdirs = "*"
playwright = "*"
pluggy = "*"
posthog = "*"
primp = "*"
prompt-toolkit = "*"
proto-plus = "*"
protobuf = "*"
psutil = "*"
pure-eval = "*"
py = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pycodestyle = "*"
pycparser = "*"
pycryptodomex = "*"
pydantic = "*"
pydantic-core = "*"
pydub = "*"
pyee = "*"
pygame = "*"
pygetwindow = "*"
pygments = "*"
pymupdf = "*"
pymupdfb = "*"
pyparsing = "*"
pypdf = "*"
pyperclip = "*"
pypika = "*"
pypiwin32 = "*"
pyproject-hooks = "*"
pyreadline3 = "*"
pyrect = "*"
pysocks = "*"
pytesseract = "*"
pytest = "*"
pyttsx3 = "*"
pytz = "*"
pywin32 = "*"
pywin32-ctypes = "*"
pyyaml = "*"
pyzmq = "*"
referencing = "*"
regex = "*"
requests = "*"
requests-file = "*"
requests-toolbelt = "*"
retry = "*"
rfc3986 = "*"
rich = "*"
rpds-py = "*"
ruff = "*"
selenium = "*"
selenium-stealth = "*"
semantic-version = "*"
sgmllib3k = "*"
shellingham = "*"
simplejson = "*"
six = "*"
sniffio = "*"
sortedcontainers = "*"
sqlalchemy = "*"
stack-data = "*"
starlette = "*"
striprtf = "*"
sympy = "*"
tabulate = "*"
tenacity = "*"
termcolor = "*"
tk = "*"
tldextract = "*"
tokentrim = "*"
toml = "*"
tomlkit = "*"
tornado = "*"
tqdm = "*"
traitlets = "*"
trio = "*"
trio-websocket = "*"
twine = "*"
typer = "*"
typing-inspect = "*"
typing-extensions = "*"
tzdata = "*"
ujson = "*"
uritemplate = "*"
uvicorn = "*"
watchdog = "*"
watchfiles = "*"
wcwidth = "*"
webdriver-manager = "*"
webencodings = "*"
websocket-client = "*"
websockets = "*"
werkzeug = "*"
wrapt = "*"
wsproto = "*"
yarl = "*"
yaspin = "*"
youtube-comment-downloader = "*"

[dev-packages]

[requires]
python_version = "3.13"
